# Windows note: if you override HONCHO_SOURCE_DIR with an absolute path,
# prefer forward slashes, for example:
# HONCHO_SOURCE_DIR=C:/dev/honcho

HONCHO_SOURCE_DIR=./honcho-src
HONCHO_HTTP_PORT=8420
HONCHO_DB_NAME=postgres
HONCHO_DB_USER=postgres
HONCHO_DB_PASSWORD=postgres
